#Data Types and Structures Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it

name = "Priya"
print(name)

Priya

In [2]:
# 2. Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
print(string[0:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase

string = "hello"
print(string.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
 # 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
 # 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

 tuple = (100, 200, 300)
 print(tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [20]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [23]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {2, 3}

In [25]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "Name": "Priya",
    "Age": 25,
    "City": "Bhilai"
}
print(my_dict)

{'Name': 'Priya', 'Age': 25, 'City': 'Bhilai'}

In [26]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

...
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print("Value associated with key 'name':", name_value)

Value associated with key 'name': Alice

In [28]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)
#

{'name': 'Bob', 'city': 'New York'}

In [29]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [35]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Priya', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Priya', 'age': 25}

In [36]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [10, 33, 39, 77, 100]

In [38]:
# 28.  Write a code to create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])
#`

date

In [39]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
# 30 . Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'date', 'cherry', 'elderberry'}